set daemon {{ monit.frequency }}
set logfile /var/log/monit.log
set idfile /var/lib/monit/id
set statefile /var/lib/monit/state
set alert {{ system.contact }} only on { instance }
set mailserver localhost
set mail-format {
	from: monit@{{ ansible_hostname }}.{{ system.hostname }}
	subject: $DESCRIPTION
}
set httpd port {{ monit.port }}
	allow {{ monit.user }}:{{ monit.pass }}

check system {{ ansible_hostname }}
	group sys
	if loadavg (5min) > 5 then exec "/etc/monit/notify-slack.sh" else if succeeded then exec "/etc/monit/notify-slack.sh"
	if loadavg (15min) > 3 then exec "/etc/monit/notify-slack.sh" else if succeeded then exec "/etc/monit/notify-slack.sh"
	if memory usage > 70% for 3 cycles then exec "/etc/monit/notify-slack.sh" else if succeeded then exec "/etc/monit/notify-slack.sh"
	if swap usage > 30% for 3 cycles then exec "/etc/monit/notify-slack.sh" else if succeeded then exec "/etc/monit/notify-slack.sh"
	if cpu usage (user) > 80% for 2 cycles then exec "/etc/monit/notify-slack.sh" else if succeeded then exec "/etc/monit/notify-slack.sh"
	if cpu usage (system) > 20% for 2 cycles then exec "/etc/monit/notify-slack.sh" else if succeeded then exec "/etc/monit/notify-slack.sh"
	if cpu usage (wait) > 50% for 2 cycles then exec "/etc/monit/notify-slack.sh" else if succeeded then exec "/etc/monit/notify-slack.sh"

check file firehol with path {% if ansible_distribution_release == 'trusty' %}/var/lock{% else %}/var/run/lock/subsys/firehol{% endif %}/firehol
	group sys
	start program "/etc/init.d/firehol start"
	stop program "/etc/init.d/firehol stop"
	if not exist then restart
	if 1 restarts within 1 cycles then exec "/etc/monit/notify-slack.sh"
	if 5 restarts within 5 cycles then timeout

{% if ansible_virtualization_type != 'lxc' and ansible_virtualization_type != 'docker' %}
check process auditd with pidfile /var/run/auditd.pid
	group sys
	start program "/etc/init.d/auditd start"
	stop program "/etc/init.d/auditd stop"
	if 1 restarts within 1 cycles then exec "/etc/monit/notify-slack.sh"
	if 5 restarts within 5 cycles then timeout
{% endif %}

check process sshd with pidfile /var/run/sshd.pid
	group sys
	start program "/etc/init.d/ssh start"
	stop program "/etc/init.d/ssh stop"
	if failed port 22 protocol ssh with timeout 15 seconds then restart
	if 1 restarts within 1 cycles then exec "/etc/monit/notify-slack.sh"
	if 5 restarts within 5 cycles then timeout

check process ntp with pidfile /var/run/ntpd.pid
	group sys
	start program "/etc/init.d/ntp start"
	stop program "/etc/init.d/ntp stop"
	if failed port 123 type udp with timeout 15 seconds then restart
	if 1 restarts within 1 cycles then exec "/etc/monit/notify-slack.sh"
	if 5 restarts within 5 cycles then timeout

check process snmpd with pidfile /var/run/snmpd.pid
	group sys
	start program "/etc/init.d/snmpd start"
	stop program "/etc/init.d/snmpd stop"
	if failed port 161 type udp with timeout 15 seconds then restart
	if 1 restarts within 1 cycles then exec "/etc/monit/notify-slack.sh"
	if 5 restarts within 5 cycles then timeout


{% if enable_ossec %}
check program ossec with path /var/ossec/bin/check-ossec-status.sh
	group sys
	start program "/etc/init.d/ossec start"
	stop program "/etc/init.d/ossec stop"
	if status != 0 then restart
	if 1 restarts within 1 cycles then exec "/etc/monit/notify-slack.sh"
	if 5 restarts within 5 cycles then timeout
{% endif %}

check process vnstat with pidfile /var/run/vnstat/vnstat.pid
	group sys
	start program "/usr/sbin/vnstatd -d"
	stop program "/bin/kill -s TERM `/bin/pidof vnstatd`"
	if 1 restarts within 1 cycles then exec "/etc/monit/notify-slack.sh"
	if 5 restarts within 5 cycles then timeout

check process postfix with pidfile /var/spool/postfix/pid/master.pid
	group sys
	start program "/etc/init.d/postfix start"
	stop program "/etc/init.d/postfix stop"
	if failed port 25 protocol smtp with timeout 15 seconds then restart
	if 1 restarts within 1 cycles then exec "/etc/monit/notify-slack.sh"
	if 5 restarts within 5 cycles then timeout

check device root with path /
	group sys
	alert {{ system.contact }} on { resource } with reminder on 30 cycles
	if space usage > 90% then exec "/etc/monit/notify-slack.sh" else if succeeded then exec "/etc/monit/notify-slack.sh"
	if inode usage > 90% then exec "/etc/monit/notify-slack.sh" else if succeeded then exec "/etc/monit/notify-slack.sh"

{% if ansible_distribution_release != 'trusty' %}
	{% if interface.intranet is defined and interface.intranet %}
	check network intranet with interface {{ interface.intranet }}
		group net
		start program "/sbin/ifconfig {{ interface.intranet }} up"
		stop program "/sbin/ifconfig {{ interface.intranet }} down"
		if failed link then restart
		if 1 restarts within 1 cycles then exec "/etc/monit/notify-slack.sh"
		if 5 restarts within 5 cycles then timeout
		if saturation > 90% then exec "/etc/monit/notify-slack.sh" else if succeeded then exec "/etc/monit/notify-slack.sh"
		if upload > {{ speed | int * 10 }} packets/s then exec "/etc/monit/notify-slack.sh" else if succeeded then exec "/etc/monit/notify-slack.sh"
	{% endif %}

	{% if interface.internet is defined and interface.internet %}
	check network internet with interface {{ interface.internet }}
		group net
		start program "/sbin/ifconfig {{ interface.internet }} up"
		stop program "/sbin/ifconfig {{ interface.internet }} down"
		if failed link then restart
		if 1 restarts within 1 cycles then exec "/etc/monit/notify-slack.sh"
		if 5 restarts within 5 cycles then timeout
		if saturation > 90% then exec "/etc/monit/notify-slack.sh" else if succeeded then exec "/etc/monit/notify-slack.sh"
		if upload > {{ speed | int * 10 }} packets/s then exec "/etc/monit/notify-slack.sh" else if succeeded then exec "/etc/monit/notify-slack.sh"
	{% endif %}

	check host google with address google.com
		group net
		if failed ping then exec "/etc/monit/notify-slack.sh" else if succeeded then exec "/etc/monit/notify-slack.sh"
{% endif %}

include /etc/monit/conf.d/*
