#!/bin/bash


/usr/bin/curl -X POST -s --data-urlencode "payload={ \
	\"channel\": \"{{ monit.slack.channel }}\", \
	\"username\": \"Monit on {{ ansible_hostname }}.{{ system.hostname }}\", \
	\"text\": \"$MONIT_SERVICE: $MONIT_DESCRIPTION\" \
}" https://hooks.slack.com/services/{{ monit.slack.token }} &> /dev/null
