#!/bin/sh -e
#
# rc.local
#
# This script is executed at the end of each multiuser runlevel.
# Make sure that the script will "exit 0" on success or any other
# value on error.
#
# In order to enable or disable this script just change the execution
# bits.
#
# By default this script does nothing.

{% if interface.intranet is defined and interface.intranet %}
/sbin/ifconfig {{ interface.intranet }} txqueuelen {{ speed | int * 10 }}
{% endif %}

{% if interface.internet is defined and interface.internet %}
/sbin/ifconfig {{ interface.internet }} txqueuelen {{ speed | int * 10 }}
{% endif %}

exit 0
